html {
    scroll-behavior: smooth;
    background-color: #FDFDFA;
    min-width: 360px;
}

body {
    display: block;
    color: #1D1A11;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.backgroundImg {
    height: 100%;
    width: 100%;
    opacity: 0.20;
    position: fixed;
    z-index: -1;
}

.WarnCont {
    padding: 2vh 0 0 0;
    .warning {
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 5px;
        margin: 0 auto;
        border: 3px solid #F44E3F;
        background-color: #FDFDFA;

        p{
            margin: 13.5px 14px;
            text-align: center;
        }

        .dismiss {
            cursor: pointer;
        }
    }
}


.introCont {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: -1;
    max-width:5712px;
    max-height:3504px;
    height: 100%;

    .introImg {
        width: 95%;
        height: auto;
        display: flex;
        border: #456990 4px solid;
        border-radius: 3px;
        z-index: -1;
    }
    .svgContainer {
        width: 95%;
        height: auto;
        min-width: 343px;
        border: black 4px solid;
        position: absolute;

        .mapSVG {
            z-index: 5;
            width: 100%;
            height: 100%;
        }
        #use4:hover {
            fill: orange;
            color: orange;
        }
    }

}

#Roaiream {fill: red;}

.svgDiv {
    width: 100vw;
    height: 75vh;
}

.svgSil {
    width: 100%;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 2vh auto;
}

main {
    margin: 0 auto 0 auto;
    min-width: 320px;
    max-width: 960px;
}

.isleGroup {
    font-size: 2em;
}

.isleName {
    font-size: 1.5em;
    margin: .5em 0 0.35em;
}

.detailsGroup {
    margin: 0.5em 0;
    font-style: italic;
    color: #555555;

    .details {
        margin: 0 1em;
    }
}

.imageGroup {

    .isleImg {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #456990;
    }

    .caption {

    }
}

