html {
    scroll-behavior: smooth;
    background-color: #FDFDFA;
    min-width: 360px;
}

body {
    display: block;
    color: #1D1A11;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.introCont {
    background-color: #FDFDFA;
}

.introImg {
    width: 95%;
    display: flex;
    margin: 0 auto;
}

main {
    margin: 0 auto 0 auto;
    min-width: 320px;
    max-width: 960px;
}

.isleGroup {
    font-size: 2em;
}

.isleImg {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1D1A11;
}

.isleName {
    font-size: 1.5em;
}

.backgroundImg {
    height: 100%;
    width: 100%;
    opacity: 0.20;
    position: fixed;
    z-index: -1;
}

.gallImg {
}
